<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/print.css" media="print">

  <meta name="description" content="{{seoDescription}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{seoDescription}}">
  <meta property="og:image" content="https://resumesarehard.work/pencil.svg">
  <meta property="og:image:alt" content="{{title}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://resumesarehard.work/">

  <link rel="icon" href="/pencil.svg" type="image/svg+xml">
</head>

<body>
  <h1>{{title}}</h1>
  {{{body}}}
  {{#each faq}}
    {{{question}}}
    {{{answer}}}
  {{/each}}
  <footer>
    <p>
      Pencil icon made by <a href="https://www.freepik.com" target="_blank" rel="noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" rel="noreferrer">www.flaticon.com</a>
    </p>
  </footer>
</body>
</html>
