<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{title}}</title>

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>

  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/print.css" media="print">

  <meta name="description" content="{{seoDescription}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{seoDescription}}">
  <meta property="og:image" content="https://resumesarehard.work/pencil.svg">
  <meta property="og:image:alt" content="{{title}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://resumesarehard.work/">

  <link rel="icon" href="/pencil.svg" type="image/svg+xml">
</head>

<body>
  <h1>{{title}}</h1>
  {{{body}}}
  {{#each faq}}
    {{{question}}}
    {{{answer}}}
  {{/each}}
  <footer>
    <p>
      Pencil icon made by <a href="https://www.freepik.com" target="_blank" rel="noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" rel="noreferrer">www.flaticon.com</a>
    </p>
  </footer>
  <script type="module">
    window.addEventListener('DOMContentLoaded', function() {
      // ClassList#toggle's second argument doesn't work in IE
      var toggleClass = function(element, className, present) {
        var actualPresent = element.classList.contains(className);
        if (actualPresent === present) {
          return;
        }

        if (present) {
          element.classList.add(className);
        } else {
          element.classList.remove(className);
        }
      };

      var paragraphs = Array.prototype.slice.call(document.querySelectorAll('body > *'));
      paragraphs[0].classList.add('visible');

      setInterval(function() {
        toggleClass(document.body, 'scrolled', window.scrollY > 0);

        paragraphs.forEach(function(paragraph) {
          var visible = paragraph.offsetTop <= window.scrollY + (window.innerHeight * 0.75);
          toggleClass(paragraph, 'visible', visible);
        });
      }, 100);
    });
  </script>
</body>
</html>
